*{
    --primary-color: rgb(91, 95, 123);
    --secondary-color: #d8e3e7;
    --clear: #ffffff00;
    --radius: 2vw;
    background-color: var(--primary-color);
    transition:  .1s ease-out;
}

@font-face{
    font-family: main;
    src: url(./assets/Montserrat-Black.otf)
}