*{
    --primary-color: rgb(47, 60, 163);
    --secondary-color: #b9d7ff;
    --clear: #ffffff00;
    background-color: var(--primary-color);
    transition:  .1s ease-out;
}

@font-face{
    font-family: main;
    src: url(./assets/FOT-Skip-Std-B.otf)
}