*{
    --primary-color: rgb(255, 247, 237);
    --secondary-color: #3e2c12;
    --clear: #ffffff00;
    background-color: var(--primary-color);
    transition:  .1s ease-out;
}

@font-face{
    font-family: main;
    src: url(./assets/RomanticAdoreDemoRegular-5yGpj.ttf)
}