*{
    --primary-color: rgb(255, 213, 0);
    --secondary-color: #463a0b;
    --clear: #ffffff00;
    --radius: .2vw;
    background-color: var(--primary-color);
    transition:  .1s ease-out;
}

@font-face{
    font-family: main;
    src: url(./assets/Mongolian\ Baiti\ Regular.ttf)
}