*{
    --primary-color: rgb(57, 11, 11);
    --secondary-color: #7a5529fe;
    --clear: #00000000;
    --radius: 0vw;
    background-color: var(--primary-color);
    transition:  .1s ease-out;
}

@font-face{
    font-family: main;
    src: url(./assets/Southa-2vZv3.otf)
}